
.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  z-index: 10;
}


.nav a,
.nav .navLink { // Link와 span 모두에 적용할 스타일
  position: relative;
  margin-left: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: rgba(252, 60, 70) !important;
    transition: all 0.2s ease-in-out;
  }
}
.currentPath {
  color: rgba(145, 189, 70) !important;
}

// 드롭 다운
.dropdown{
  position: absolute;
  right: 5%;
  width: 100px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
}
.dropdownContent:hover{
  transition: all 0.2s ease-in-out;
  color: lightcoral;
}