.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  z-index: 10;
}

.nav a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: rgba(252, 60, 70);
    transition: all 0.2s ease-in-out;
  }
}

// ---- 푸터

.footer{
  width: 100dvw;
  height: 10dvh;
  background-color: rgb(144,187,71);
}